@import "tailwindcss";

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #121212;
  color: #ffffff;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

app-root {
  display: block;
  width: 100%;
  height: 100%;
}
